{% extends "base.html" %}


{% block content %}
    <form class="form login_form" action="" method="post" enctype="multipart/form-data">
        <h1>Редактирование канала</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", type="text") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(class="form-control", type="number") }}<br>
            {% for error in form.age.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        Картинка канала<br>
        <div style="border: 1px solid #ced4da; border-radius: .25rem; width: 40%; padding: 5px;">
            <label id="avatar_view" for="avatar" style="display: inline-block; width: 100%; height: 8em; background: none; background-size: contain; background-repeat: no-repeat; background-position: center; background-image: url('{{ url_for('static', filename='icons/' + icon) }}');"></label>
            <input id="avatar" type="file" class="form-control-file" name="input_avatar" accept="image/*" style="display: none;"><br>
        </div>
        <p style="margin-top: 10px;">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>

    <script>
        document.getElementById("avatar").addEventListener("change", function () {
            console.log("change")
            if (this.files[0]) {
                var fr = new FileReader();

                fr.addEventListener("load", function () {
                    document.getElementById("avatar_view").style.backgroundImage = "url(" + fr.result + ")";
                }, false);

                fr.readAsDataURL(this.files[0]);
            }
        });
    </script>

{% endblock %}