{% extends "base.html" %}


{% block content %}
    <form class="form login_form" action="" method="post" enctype="multipart/form-data">
        <h1 style="align: center;">Регистрация</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", type="text") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(class="form-control", type="number") }}<br>
            {% for error in form.age.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        Выбери аватарку<br>
        <label id="avatar_view" for="avatar" style="display: inline-block; width: 8em; height: 8em; background: silver; background-size: contain; background-repeat: no-repeat; background-position: center;"></label>
        <input id="avatar" type="file" class="form-control-file" name="input_avatar" accept="image/*" style="display: none;"><br>

        <br>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div style="background-color: red; color: white; border-radius: 5px; padding-left: 5px;">{{ message }}</div>
    </form>

    <script>
        document.getElementById("avatar").addEventListener("change", function () {
            console.log("change")
            if (this.files[0]) {
                var fr = new FileReader();

                fr.addEventListener("load", function () {
                    document.getElementById("avatar_view").style.backgroundImage = "url(" + fr.result + ")";
                }, false);

                fr.readAsDataURL(this.files[0]);
            }
        });
    </script>
{% endblock %}